#navigation {
	display:flex;
	justify-content: center;
	background-color:#46424D;
	height:100px;
}

#title {
	color:#FFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

#main {
	display:grid;
	grid-template-columns: 7fr .15fr 3fr;
	background-color: #2B2733;
	height:100%;
}

#create-activity {
	background-color: #46424D;
	height:700px;
	width:93%;
	margin-left:3%;
	margin-bottom:29%;
}

.header1 {
	margin-bottom: 2%;
	margin-left:3%;
	margin-top:5%;
	font-weight:300;
	font-family: 'Montserrat', sans-serif;
	color:#FFF;
}
.header2 {
	display:flex;
	justify-content: center;
	font-weight:300;
	font-family: 'Montserrat', sans-serif;
	color:#FFF;
}

#tracker {
	border:3px solid purple;
	margin-right:3%;
	margin-bottom:29%;
	height:88%;
}

#vertical {
	border-left:4px solid #46424D;
	width:1%;
}

/*#content {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows:1fr 1fr 1fr;
	border:2px solid green;
	width:80%;
	height:80%;
	margin:5%;
}*/

span {
	border:2px solid yellow;
	margin-bottom:10px;
	height:200px;
}

h2 {
	margin:30px;
	color:#FFF;
	font-family: 'Montserrat', sans-serif;
}

.hmm {
	border:2px solid #FFF;
	padding:20px;
}

#something {
	color:#FFF;
}

.title {
	display:flex;
	justify-content: center;
}

#content{
	display:flex;
	justify-content: center;
}

#something {
	display:flex;
	justify-content: center;
}
#else, #dog {
	display:flex;
	justify-content: space-around;
	color:#FFF;
}

input {
  display:flex;
  justify-content: center;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #FFF;
  margin:36px auto;
  width:80%;
}

.input-2 {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #FFF;
  margin:30px auto;
  width:20%;
}

#wolf {
	display:flex;
}

button {
	width:40%;
	height:40px;
	border-radius: 50%;
}

#submit {
	display: flex;
	justify-content: center;
	margin:50px auto;
}
